fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv

chromadb
rank-bm25
sentence-transformers

langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
langchain-text-splitters
langsmith

ollama

pymupdf
gradio